* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}

/* Header */

.header {
  background-color: #333333;
  color: #fff;
  height: 3rem;
  padding-top: .5rem;
  margin-bottom: 2rem;
}

/* FORM */

.form {
  background-color: #333333;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0 .75rem 1rem .25rem rgba(0, 0, 0, 0.5);
}
.form .input-container {
  width: 80%;
}
.form button {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(218, 241, 255);
}
.input-container label {
  display: flex;
  width: 100%;
}
.input-container label input {
  width: 15rem;
  margin-bottom: 1rem;
  margin-left: 11%;
}

/* NEW MEMBERS */

.new-members {
  background-color: #333333;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0 .75rem 1rem .25rem rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
}
.new-members label {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}
.new-members button {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(218, 241, 255);
  margin: 0 auto; 
}
.new-members h3 {
  margin: 0 auto;
  color: rgba(218, 241, 255, 0.74);
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid grey;
  width: 50%;
}
.new-members p {
  margin-bottom: 1rem;
}