* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}

/* Header */

.header {
  background-color: #333333;
  color: #fff;
  height: 3rem;
  padding-top: .5rem;
}

/* Member Signup */

.members {
  background-color: #333333;
  color: #fff;
  width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 1rem 1rem .25rem rgba(0, 0, 0, 0.5);
}
.members form {
  display: flex;
  flex-direction: column;
}
.members lable {
  margin: 1rem;
  text-align: left;
}
.members input {
  width: 85%;
  margin: 0 auto;
  padding: .5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}
.members button {
  margin: 2rem 1rem 1rem 1rem;
  height: 2rem;
  border: none;
  background-color: rgb(195, 246, 255);
  box-shadow: 0 1rem 1rem .25rem rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 .25rem .25rem .25rem rgba(0, 0, 0, 0.753);
  transition: .25s ease;
}

/* Member List */

.member-list {
  background-color: #333333;
  color: #fff;
  width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 1rem 1rem .25rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}